body {
  background-image: linear-gradient(0.25turn, #242424, #252135);
}

.login-title {
  width: 100%;
  text-align: center;
  margin: 50px;
  padding: 0;
}

.auth-form {
  width: 100%;
  text-align: center;
  margin: auto;
}

.login-form {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  margin: 15px;
}